@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: #F5F8FA;
  color: #0E2233;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}
